<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <header>
                <h2>My Website</h2>
                <div class="bottom-header"></div>
            </header>
            <nav>

                <ol>
                    <li><a href="#">Home</a></li>
                    <li><a href="">All Posts</a></li>
                    <li><a href="">About Us</a></li>
                </ol>
                <div class="bottom-nav"></div>
            </nav>
            <article  class="content-sec">
                <div class="content-info">
                    <h2>Article Title</h2>
                    <div class="article-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ad, perferendis magni officiis rem necessitatibus pariatur qui quos neque totam similique nihil animi temporibus dolor recusandae maiores asperiores maxime delectus!</p>

                        <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit. Sint, eaque, quidem, atque cum eligendi quam eos fugit odit eveniet <a href="#" class="red-link">officiis placeat</a> omnis adipisci labore veniam unde fuga rem ratione iusto!</p>
                        <p class="section-title">Section Title</p>
                        <div class="underline"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, error, ipsum, obcaecati, hic ex nulla enim tempora voluptas beatae quibusdam inventore perspiciatis deserunt. Perspiciatis ea sit debitis non perferendis repellendus.</p>
                        <table class="tec-info">
                            <thead>
                                <tr>
                                    <td>What</td>
                                    <td>Where</td>
                                    <td>How</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HTML</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus sit accusantium ipsum saepe voluptatem. Voluptas, quam, distinctio, animi natus labore fugit itaque ut beatae eius delectus neque dolore omnis vel!</td>
                                    <td><button>Go!</button></td>
                                </tr>
                                <tr>
                                    <td>CSS</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, maiores nulla unde impedit ut</td>
                                    <td><button>Try!</button></td>
                                </tr>
                                <tr>
                                    <td>JS</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
                                    <td><button>View!</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, at, illum fugiat tenetur voluptatum alias consequuntur quae aspernatur rerum eum maxime totam accusamus nulla perferendis eaque dicta rem odio inventore</p>
                        <p class="section-title">Section Title</p>
                        <div class="underline"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, excepturi, atque nesciunt culpa alias cum dignissimos voluptatibus molestiae fuga unde rerum voluptas in dolore placeat reiciendis aliquam sequi minus molestias?</p>
                        <div class="code-snippit">
                            <pre>$('#myElement').click(function(){
console.log('Clicked!')
});</pre>
                        </div>
                        <p class="section-title">Section Title</p>
                        <div class="underline"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, ex debitis fugiat in sequi hic pariatur corporis officia cum maxime quo saepe error perspiciatis sunt tenetur molestiae numquam dignissimos asperiores.</p>
                        <img src="http://placehold.it/460x100&amp;text=Placeholder+Image" alt="" id="big-img">
                        <ol>
                            <li>
                                <strong>Create HTML:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate adipisci placeat eos ad totam soluta illo est, nulla, quos officiis dolores similique alias. Obcaecati quibusdam consequuntur velit tempore dolore necessitatibus?</li>
                            <li><strong>Make Pretty with CSS:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, veritatis voluptatibus minus quia voluptate quaerat provident enim mollitia consectetur itaque. Perspiciatis, culpa sit cupiditate alias accusantium libero vel ipsum optio.</li>
                            <li><strong>Profit:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, recusandae, sit blanditiis quis ratione mollitia ipsa eaque ad perspiciatis laboriosam. Voluptates, odio consequatur sit unde reiciendis quam optio animi eum!</li>
                        </ol>
                        <footer>
                            Posted by <strong>Author</strong> under <strong>Web> Dev</strong>  on <strong>January 13, 2014.</strong>
                        </footer>
                        <p class="section-title">Comments</p>
                    </div>
                    <form>
                        <fieldset>
                            <legend>USER INFO</legend>
                            <div class="input">Email
                                <input type="text" name="Email">
                            </div> 
                            <div class="input">Display Name
                                <input type="text" name="Name">      
                            </div>
                            <div class="input">Website
                                <input type="text" name="website">      
                            </div>

                        </fieldset>
                        <fieldset>
                            <legend>Comment</legend>
                            <textarea name="comment" cols="85" rows="10"></textarea>
                            <input type="submit" value="Submit">

                        </fieldset>
                    </form>
                    <section>
                        <div class="user-info">
                            <img class="pull-left" src="http://placehold.it/50x60" alt="">
                            <h3>User 1</h3>
                            <h4 style="color:#ccc">January 13, 2014</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat velit libero nemo necessitatibus temporibus quia quod non corporis officiis, asperiores ipsam. Minima neque maiores optio nulla recusandae sunt iusto ab?</p>
                        <div class="response">
                            <div class="user-info">
                                <img class="pull-left" src="http://placehold.it/50x60" alt="">
                                <h3>User 1</h3>
                                <h4 style="color:#ccc">January 13, 2014</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat velit libero nemo necessitatibus temporibus quia quod non corporis officiis, asperiores ipsam. Minima neque maiores optio nulla recusandae sunt iusto ab?</p>
                            <div class="user-info">
                                <img class="pull-left" src="http://placehold.it/50x60" alt="">
                                <h3>User 1</h3>
                                <h4 style="color:#ccc">January 13, 2014</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat velit libero nemo necessitatibus temporibus quia quod non corporis officiis, asperiores ipsam. Minima neque maiores optio nulla recusandae sunt iusto ab?</p>
                            <div class="user-info">
                                <img class="pull-left" src="http://placehold.it/50x60" alt="">
                                <h3>User 1</h3>
                                <h4 style="color:#ccc">January 13, 2014</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat velit libero nemo necessitatibus temporibus quia quod non corporis officiis, asperiores ipsam. Minima neque maiores optio nulla recusandae sunt iusto ab?</p>
                        </div>
                        <div class="user-info">
                            <img class="pull-left" src="http://placehold.it/50x60" alt="">
                            <h3>User 2</h3>
                            <h4 style="color:#ccc">January 13, 2016</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat velit libero nemo necessitatibus temporibus quia quod non corporis officiis, asperiores ipsam. Minima neque maiores optio nulla recusandae sunt iusto ab?</p>
                    </section>
                </div>           
            </article >

        </div>
    </body>
</html>